.taligncenter{
  text-align:center;
  overflow: inherit ;
  text-overflow: inherit ;
  white-space: wrap ;
}

.noborder{
margin-top:10%;
}

.cent{

text-align:center;
  margin-left:auto;
  margin-right:auto;

}
.btmmarg{
width:85%;
margin-left:auto;
margin-right:auto;
	margin-bottom:10%;
}